.List {
  text-align: center;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.addContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

table {
  display: table-header-group;
  word-break: break-all;
}

th, td {
  padding-inline: 1vw;
}

.checkbox:hover {
  cursor: pointer;
}

.btn {
  background-color: #00363b;
  color: white;
  border-color: #00363b;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  width: 200px;
  margin-top: 40px;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: white;
  color: #00363b;
  cursor: pointer;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border-radius: 5px;
  border-width: 2px;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border-radius: 5px;
  border-width: 2px;
  height: 50px;
}
