.list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox:hover {
  cursor: pointer;
}

table {
  width: 80%;
  border-collapse: collapse;
}

th {
  font-size: 1.3em;
  text-align: left;
}

.button {
  background-color: #00363b;
  color: white;
  border-color: #00363b;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  width: 30%;
  margin-top: 40px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: #00363b;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  font-size: 1em;
  border-radius: 5px;
  border-width: 2px;
  width: 30%;
}

textarea {
  font-size: 1em;
  border-radius: 5px;
  border-width: 2px;
  height: 50px;
  width: 30%;
}
